<cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">

  <!-- This is the tree node template for expandable nodes -->
  <cdk-nested-tree-node
    *cdkTreeNodeDef="let node; "
    class="example-tree-node"
  >
    <button
      mat-icon-button
      [attr.aria-label]="'Toggle ' + node.name"
      cdkTreeNodeToggle
      (click)="click_node(node)"
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.title}}
    <div [class.hidden]="!treeControl.isExpanded(node)">
      <p>ID: {{node.id}}</p>
      <p *ngIf="node.doi">DOI: {{node.doi}}</p>
      <p *ngIf="node.pissn">pISSN: {{node.pissn}}</p>
      <p *ngIf="node.eissn">eISSN: {{node.eissn}}</p>
      <!-- <ng-container cdkTreeNodeOutlet></ng-container> -->
      <issues *ngIf="treeControl.isExpanded(node)" [parent]="node"></issues>
    </div>
  </cdk-nested-tree-node>
</cdk-tree>

<!-- Copyright 2022 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at https://angular.io/license -->
